@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #1e2839;
  --bgSoft: #283347;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 95em;
  margin: auto;
  padding-left: 3em;
  padding-right: 3em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
